<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  
  <!-- JQuery and Bootstrap JS -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <!-- Moment.js for date validation -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

  <!-- Style sheets, Favicon, and Google Fonts -->
  <link rel="stylesheet" href="/styles/{{style}}" media="screen" title="no title" charset="utf-8">
  <link rel="icon" href="../../public/images/favicon.ico" type="image/x-icon"> 
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <title>Gig</title>
</head>


<body>

{{!-- Navigation bar --}}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/" id="app-title">Gig</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/new_event">New Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Log In</a>
      </li>
    </ul>
  </div>
</nav>



    {{!-- html content brought in through handlebars --}}
  {{{body}}}







  {{!-- Start of the footer  --}}
<div class="footer" id="footer">
      <p id="footer-text">Copyright© Gig 2019</p>
    </div>


</body>


</html>
