<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/{{style}}" media="screen" title="no title" charset="utf-8">
  <link rel="icon" href="../../public/images/favicon.ico" type="image/x-icon"> 
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="styleesheet">
  <title>Gig</title>
</head>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" id="app-title">Gig</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/new_event">New Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Log In</a>
      </li>
    </ul>
  </div>
</nav>

    <div class="footer" id="footer">
      <p id="footer-text">Copyright© Gig 2019</p>
    </div>

<body>
  {{{body}}}
</body>



</html>
