<div class="container">
    <form class="clearfix mb-4" id="artist-form" data-event-id="{{event_id}}">
          
        <div class="form-group">
        <label for="artist-name">Name</label>
        <input type="text" id="artist-name" class="form-control" aria-describedby="artist-name" placeholder="Enter your name or your band's name">
        <p class="invalid-indicator" id="name-invalid">Please enter a name</p>
        </div>

        <div class="form-group">
        <label for="artist-genre">Genre</label>
        <input type="text" id="artist-genre" class="form-control" aria-describedby="artist-genre" placeholder="Enter the genre of music you perform">
        <p class="invalid-indicator" id="genre-invalid">Please enter a genre</p>
        </div>

        <div class="form-group">
        <label for="artist-description">About</label>
        <input type="text" id="artist-description" class="form-control" aria-describedby="artist-description" placeholder="Tell us a little bit about your act">
        <p class="invalid-indicator" id="about-invalid">Please enter a description</p>
        </div>

        <div class="form-group">
        <label for="artist-soundcloud">Soundcloud <span class="text-muted">(Optional)</span></label>
        <input type="text" id="artist-soundcloud" class="form-control" aria-describedby="artist-soundcloud" placeholder="Please provide the link to your Soundcloud page">
        </div>

        <div class="form-group">
        <label for="artist-bandcamp">BandCamp <span class="text-muted">(Optional)</span></label>
        <input type="text" id="artist-bandcamp" class="form-control" aria-describedby="artist-bandcamp" placeholder="Please provide the link to your Bandcamp page">
        </div>

        <div class="form-group">
        <label for="artist-youtube">YouTube <span class="text-muted">(Optional)</span></label>
        <input type="text" id="artist-youtube" class="form-control" aria-describedby="artist-youtube" placeholder="Please provide the link to your YouTube channel">
        </div>

        <div class="form-group">
        <label for="artist-facebook">Facebook <span class="text-muted">(Optional)</span></label>
        <input type="text" id="artist-facebook" class="form-control" aria-describedby="artist-facebook" placeholder="Please provide the link to your Facebook page">
        </div>

        <div class="form-group">
        <label for="artist-twitter">Twitter <span class="text-muted">(Optional)</span></label>
        <input type="text" id="artist-twitter" class="form-control" aria-describedby="artist-twitter" placeholder="Please provide the link to your Twitter page">
        </div>

        <div class="form-group">
        <label for="artist-instagram">Instagram <span class="text-muted">(Optional)</span></label>
        <input type="text" id="artist-instagram" class="form-control" aria-describedby="artist-instagram" placeholder="Please provide the link for your Instagram page">
        </div>

        <button id="artist-submit" class="btn btn-primary float-right">Submit</button>
    </form>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/artist_form.js"></script>