<div id="fb-root"></div>
      
        
<div class="container justify-content-center p-3" id="login-body">
    <div class="row mb-0">
        <div class="col-12 text-center" id="main-text">Log In</div>
    </div>
    <form>
    <div class="form-group">
    <label for="email" id="text">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="password" id="text">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password">
  </div>
    </form>
    <div class="row mb-0" id="model-buttons">
        <button href="#" class="btn btn-md text-center" id="login-buttons" style="width:75%">Log In</button>
        <button href="#" class="btn btn-md text-center" id="login-buttons" style="width:75%">Sign Up</button>
    </div>
    <div class="fb-login-button row" data-size="large" data-button-type="continue_with" data-auto-logout-link="true" data-use-continue-as="true"></div>
</div>


<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=322541875283193&autoLogAppEvents=1"></script>
<script>

FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
});

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{your-app-id}',
      cookie     : true,
      xfbml      : true,
      version    : '{api-version}'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>