.list-group-item {
  line-height: 2.5;
  border: solid;
  border-color:#FF9E19;
  border-width: thin;

}
#band-name{
  font-family: "Lato", sans-serif;
  font-size: 2em;
}
#upcoming-events {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border-bottom: solid;
  border-bottom-width: thin;
  border-bottom-color: #FF9E19;
  margin-right: 100px;
  margin-bottom:20px;
}
.artist-title {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  color:#585858;
  font-weight:bold;
}
.artist-title:hover {
  color: #FF9E19;
  border-bottom-style: thin;

}

body {
  background-color:#585858;
}


.invalid-indicator{
  font-size: 0.75em;
  color: red;
}

.list-group-item {
  line-height: 2.5;
}

/* login css */

.jumbotron {
  height: 50px;
}

#upcoming-events {
  font-family: "Lato", sans-serif;
  font-size:3em;
  color: white;
}

.event-content {
  color: #585858;
  font-weight: bold;
}
.event-text {
  color: #585858;
  font-weight: lighter;
}

nav {
  border-bottom:solid;
  border-bottom-width: thin;
  border-color: #FF9E19;
}

#logo {
  max-width: 200px;
}

.nav {
  float: right;
}

#main-text {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  color:#414141;
}

.nav-item {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  margin-top: 35px;
}

a {
  color:#414141;
}
a:hover{
  color: #FF9E19;
  border-bottom: solid;
  border-bottom-color: #FF9E19;
}
.active{
  color: #FF9E19;
  border-bottom: solid;
  border-bottom-color: #FF9E19;
}

#text {
  font-family: 'Lato', sans-serif;
  color:#414141;
}

label {
  font-family: 'Lato', sans-serif;
  color:#414141;
}

#app-title {
  font-family: 'ZCOOL XiaoWei', serif;
  color: #414141;
  font-size: 3em;
  margin-left:10%;
} 

#app-title:hover {
  color:#FF9E19;
  border:none;
}

#navbarSupportedContent {
  margin-left:60%;
}

#login-body {
  font-family: "Lato", sans-serif;
  height: 400px;
  max-width: 400px;
  margin-top: 100px;
  border: solid;
  border-width:thin;
  border-color: #414141;
  border-radius: 10%;
}


.fb-login-button {
  width:200px;
  margin-left:60px;
  margin-top:10px;
}
#login-buttons{
  font-family: "Lato", sans-serif;
  color: white;
  font-display: bold;
  background-color:#FF9E19;
  margin-top:5px;
} 
#login-buttons:hover {
color:white;
background-color:rgb(253, 168, 48);


}
#model-buttons {
  padding-right:5px;
  margin-left:50px;
}

.footer {
  font-family: "Lato, sans-serif";
  Position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color:#313131;
  color: #c6c6c6;
  text-align: center;
  border-top-style: solid;
  border-color:#FF9E19;
}

#footer-text {
  margin-top:20px;
  font-family: "Lato", sans-serif;
  color:white;
}
  
  
  
  
  /* GOOGLE MAPS */
  /* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
  #map {
  height: 425px;
  width : 550px;
  float: right;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  } 


/* HEADER */
/* ========================================================== */

form {
    font-family: "Lato", sans-serif;
    border: none;
    border-width: thin;
    color: #414141;
    
}
label {
  font-family: "Lato", sans-serif;
}

.form-group {
    max-width: 650px;
}

.form-body {
    background-color:white;
}

.btn {
    font-family: "Lato", sans-serif;
    color: white;
    font-display: bold;
    background-color:#FF9E19;
    margin-top:5px;
    margin-bottom: 10px;
    border-style: none;
    width: 80%;
}

#event-submit {
  margin-right: 500px;
}

.btn:hover {
    color:white;
    background-color:rgb(253, 168, 48);
}

.form-body {
  font-family: "Lato", sans-serif;
  width: 50%;
  height: 120%;
}

form {
  border:solid;
  border-width:thin;
}

#event-city {
  max-width:300px;
}
#event-state {
  max-width:50px;
  margin-right: 300px;
}
#event-genre {
  max-width:300px;
  margin-right: 300px;
}
#event-description {
  width:500px;
}

.create-event {
  width: 150%;
}